.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.posters { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.contenedor_titulo {
    margin-bottom: 10rem;
}

.loading {
    font-size: 18px;
    margin: auto;
}

.searchBox {
    margin-bottom: 1.5rem;
}

.searchBox > label {
    font-size: 18px;
}

.searchBox > input {
    padding: 7px;
    border-radius: 7px;
    margin-left: 6px;
    outline: none;
    border: none;
}

/*Responsive*/

@media only screen and (max-width: 850px) {
    .posters { 
        grid-template-columns: repeat(2, 1fr);
    }
} 

@media only screen and (max-width: 440px) {
    .posters { 
        grid-template-columns: repeat(1, 1fr);
    }
} 